
*{
  box-sizing: border-box;
}

#app{
  display: grid;   
       width: 100%;    
       grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
       grid-column-gap: 10px;
       grid-row-gap: 10px;
       border: solid black ;
       margin:auto;
     margin-left: 10px;
     margin-right: 5px;
    
}
#app1{
  text-align: center;
  background-color: bisque;
}
#app2{
  text-align: left;
  background-color: bisque;
}
#app3{
 align-self: center;
}
#btn{
  width:5%;
  height:5%;
  
}